#rumi{
	text-align:center;
	padding:40px;
	margin:30px;
	color:#FFFF00;
	line-height:100%;
	background:rgba(1,0,0,0.5);
	}
.city{
	font-family:algerian;
	font-style:normal;
	font-variant:small-caps; 
	font-size:40px;
	text-align:center;
color:red;
background:blue;
border:2px solid black;
margin:20px;
padding:40px;
}  
